.top-menu {
  position: relative;
  background: #146eb4;
  text-align: center;
  letter-spacing: 1px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.top-menu li a {
  display: block;
  padding: 5px 10px;
  border-right: 1px solid #232f3e;
  color: #f2f2f2;
  text-decoration: none;
}

.top-menu li:last-child a {
  border-right: none;
}

.top-menu li a:hover {
  color: #000000; 
  background-color: #ff9900; 
}
.menu-item {
    position: relative;
}

.image-container {
    display: none;
    position: absolute;
    top: 60px; 
    left: 0px; 
    z-index: 999;
}

.menu-item:hover .image-container {
    display: block;
}

ul.primary {
 
}
ul.primary {
  margin-top: -11px;
}
/* responsive menu */
body { 
  background: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
}
 
.wrap {
  display: block;
max-width: 1280px;
  -webkit-box-shadow: 0px 0px 70px #fff;
  -moz-box-shadow: 0px 0px 70px #fff;
  box-shadow: 0px 0px 70px #fff;
margin: 0 auto;
  margin-top: -15px;
}

.decor {
  background: #146eb4;
  background-size: 5px 25%;
  padding: 2px; /*bar*/
  display: block;
}
a {
  text-decoration: none;
  color: #fff; /*link color*/
  display: block;
}

ul {
  list-style: none;
  position: relative;
  text-align: left;
}

li {
  float: left;
}

ul:after {
  clear: both;
}

ul:before,
ul:after {
    content: " ";
    display: table;
}


nav {
  position: relative;
  background: #2B2B2B;
  background-image: -webkit-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background-image: -moz-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background-image: -o-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background-image: linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 0px 0px 0px #0E0E0E;
  -webkit-box-shadow: 2px 2px 3px #888;
  -moz-box-shadow: 2px 2px 3px #888;
  box-shadow: 2px 2px 3px #888;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

ul.primary li a {
  display: block;
  padding: 10px 25px;
  border-right: 1px solid #3D3D3D;
}

ul.primary li:last-child a {
  border-right: none;
}

ul.primary li a:hover {
  
  color: #000;
}

ul.sub {
  position: absolute;
  z-index: 200;
  box-shadow: 2px 2px 0px #BEBEBE;
  width: 15%; /* drop-down width*/
  display:none;
}

ul.sub li {
  float: none;
  margin: 0px;
  padding: 0px 0px;
}

ul.sub li a {
  border-bottom: 1px dotted #ccc;
  border-right: none;
  color: #000;
  padding: 10px 5px;
}

ul.sub li:last-child a {
  border-bottom: none;
}

ul.sub li a:hover {
  color: #000;
  background: #eeeeee;
}

ul.primary li:hover ul {
  display: block;
  background: #fff;
}

ul.primary li:hover a {
  background: #fff;
  color: #666;
  text-shadow: none;
}

ul.primary li:hover > a{
  color: #3A8CCC;
} 

@media only screen and (max-width: 600px) {
  .decor {
    padding: 3px;
  }
  
  .wrap {
    width: 100%;
    margin-top: 0px;
  }
  
   li {
    float: none;
  }
  
  ul.primary li:hover a {
    background: none;
    color: #8B8B8B;
    text-shadow: 0px 0px #000;
  }

  ul.primary li:hover ul {
    display: block;
    background: #272727;
    color: #fff;
  }
  
  ul.sub {
    display: block;  
    position: static;
    box-shadow: none;
    width: 100%;
  }
  
  ul.sub li a {
    background: #272727;
  	border: none;
    color: #8B8B8B;
  }
  
  ul.sub li a:hover {
    color: #ccc;
    background: none;
  }

  /* mobile news grid adjustments */
  .news-grid {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .news-feed img {
    width: 100%;
    height: auto;
  }
}

.news-feed img {
  width: 420px;
  height: 290px;
  object-fit: cover;
  object-position: top;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.news-feed .news-item {
  position: relative;
  height: 350px;
}

.news-feed .news-item .text-container {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  color: #000;
  box-sizing: border-box;
}


.news-feed {
  max-width: 1280px;
  margin: 0px auto;
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.news-feed .news-item {
  background-color: #ffffff;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border: 4px solid #3498db;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.news-item h2 {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 53, 110, 0.5);
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  margin: 0px;
  color: #ffffff;
  font-size: 20px;
}

.modal {
  display: none; /* Initially hidden */
}
/* Modal Content */
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: #fff; /* Light gray background */
  padding: 50px;
  border: 4px solid #3498db;
  width: 250px;
  height: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: fixed; /* Fixed position */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  border-radius: 15px;
}
/* Adjusting CALM Table */
table {
            width: 100%;
            border-collapse: collapse;
            box-shadow: 0 2px 3px rgba(0,0,0,0.1);
        }

        table, th, td {
            border: 3px;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #ddd;
        }

.modal-content a {
  color: white;
  background-color: #3498db;
  padding: 20px 0px;
  width: 250px;
  margin-bottom: 10px;
  height: 40px;
  line-height: 0px;
  text-decoration: none;
  border-radius: 5px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  text-align: center; 
  box-sizing: border-box;
  display: block;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 15px;
  margin: 0;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}
.modal-content a:hover {
  background-color: #ff9900;
}

h1 {
  width: 1280px;
  height: 50px;
  font-size: 32px;
  color: #fff;
  background-color: rgba(52, 152, 219, 1);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  border-radius: 7px;
  padding: 0;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  z-index: 10;
}

.search-section {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  z-index: 11;
}

#search-input {
  width: 200px;
  padding: 5px;
  font-size: 14px;
  border: 2px solid #3498db;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
  z-index: 12;
}

#search-input:focus {
  outline: none;
  border-color: #146eb4;
  box-shadow: 0px 0px 10px rgba(0, 53, 110, 0.5);
}

/* Dropdown Search Results */
.search-results {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 9999;
  width: 100%;
  font-size: 10px;
  text-shadow: none;
  color: #333;
  display: none; 
}

.search-results.visible {
  display: block;
}

.search-results li {
  padding: 5px;
  background-color: #fff;
  color: #333;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s;
  width: 95%;
}

.search-results li:last-child {
  border-bottom: none;
}

.search-results li:hover {
  color: rgba(52, 152, 219, 1);
  background-color: inherit;
}

.search-results li a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
  display: block;
  text-shadow: none;
  width: 100%;
}
